

<!--These are three classes-->
<suite name = "Playwright Test Suite">
    <test name = "Playwright Tests">
        <classes>

            <class name = "test.LoginTest"/>
            <class name = "test.AdminTest"/>
            <class name = "test.PIMTest"/>
            <class name = "test.HomepageTest"/> <!-- Add this line -->
        </classes>
    </test>
</suite>
