
<suite name = "Playwright Test Suite" parallel="tests" thread-count="2">
    <test name = "Homepage">
        <classes>
            <class name = "test.HomePage"/>
            <class name = "test.LoginTest"/>
        </classes>
    </test>
   <!-- <test name = "Login Test">
        <classes>
            <class name = "test.LoginTest"/>
        </classes>
    </test>-->
</suite>